.title{
    color: rgb(255, 255, 255);
    font-size:60px;
    font-style: oblique;
    text-align: center;
}

.bio {
    color: #cfcfcf;
    font-size: x-large;
}


a:hover {
    color: #5c5c5c;
}

body {
    background-color: black;
}

h2 {
    color: honeydew;
}

h3 {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    margin-bottom: 100px;
}

img {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
   transition: 0.3s;
  cursor: pointer;
  
    }

img:hover {
    transform: scale(1.05);
}

.links {
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;

}

.projetos {
 color: rgb(255, 255, 255);
 text-align: center;
 font-size: 40px;
}